App/bin/Debug/netcoreapp2.1/App.deps.json
App/bin/Debug/netcoreapp2.1/App.dll
App/bin/Debug/netcoreapp2.1/App.pdb
App/bin/Debug/netcoreapp2.1/App.runtimeconfig.dev.json
App/bin/Debug/netcoreapp2.1/App.runtimeconfig.json
App/obj/Debug/netcoreapp2.1/App.csproj.FileListAbsolute.txt
App/obj/Debug/netcoreapp2.1/App.dll
App/obj/Debug/netcoreapp2.1/App.pdb
